.App {
  text-align: left;
  font-family: Abel Sans;
  box-sizing: border-box;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navbar-nav .nav-item .nav-link{
  color: #e69138;
  font-family: abel;
  font-size: 1.8em;
  /* border: 1px black solid; */
  border-radius: 5px;
  margin-left: 1em;
}

#signup-link{
  background-color: #10206b;
  border: #10206b 1px solid;
}

/* #nav-link, #nav-link2 {
  background-color: #737373;
  border: #737373;
  color: #fcfcfc;
} */

#nav-link:hover, #nav-link2:hover {
  color: #8b5822;
}

img {
  width: 100%;
}


.card-header {
  background: #dddddd;
}
.card-head:hover{
  background: #444444;

}

.btn-link {
  color: #363636;
}
.btn-link:hover {
  color: white;
  text-decoration: none;
}
.btn-link.focus,
.btn-link:focus {
  text-decoration: none;
}
.btn.focus,
.btn:focus {
  box-shadow: none;
}

.btn {
  padding: 0px;
  /* background-color: #e69138; */
}

.btn-secondary{
  width:50px;
}


.profile-img {
  width: 90px;
}
#profile-mini {
  width: 40px;
}

.input-group {
  padding-bottom: 10px;
}
.input-group-text {
  background-color: #dddddd;
  font-size: 0.7rem;
}
.comment {
  padding-left: 30px;
  padding-top: 5px;
  text-align: center;

}

#post{
  max-width: 30%;
  height:auto;
}
.post-img{
margin-top:15px;
}
.post-img-card{

  border: 1px solid #bbbbbb;
  /* border-style:ridge; */
  box-shadow:0px 1px 5px 1px #4A4A4A
}


.comment-body{
  margin-top:5px;
  margin-bottom:18px;
}

.comment-text{
  padding-left:15px;
  padding-right:15px;
}
.followers-following{
  margin-bottom: 15px;
}
.comment-form{
  margin-top: 13px;
}


